/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2017, 6:47:11 PM
    Author     : swall
*/

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { font-family: Arial, Helvetica, sans-serif; }

.container {
    width: 800px;
    margin: 0 auto;
}

.grey-background {
    background-color: gray;
}

#main {
   background: url(images/header-image.png) repeat-x;         
}

#logo {
    background: url(images/logo.png) no-repeat;
    height: 84px;
    width: 235px;
    float: left;
}

#logo h1 {
    text-indent: -9999px;
}

#header {
    padding-top: 40px;
}

#tagline {
    float: left;
    padding-top: 15px;
    padding-left: 10px;
}

#tagline h3 {font-size: 25px; color: black;}

ul#menu{
    list-style: none;
}

ul#menu li a {
    font-size: 30px;
    color: crimson;
    text-decoration: none;
}

ul#menu li {
    float: left;
}
