/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 12, 2017, 6:47:11 PM
    Author     : swall
*/

body, div, h1, h2, h3, h4, h5, h6, p, ul, img {margin:0px; padding:0px; }

body { 
    font-family: Arial, Helvetica, sans-serif; 
    background: snow;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.bold-text {
    font-weight: bold;
}

#main {
   background: url(images/header-image.png) repeat-x;         
}

#logo {
    background: url(images/logo.png) no-repeat;
    height: 84px;
    width: 235px;
    float: left;
}

#logo h1 {
    text-indent: -9999px;
}

#header {
    padding-top: 38px;

}

ul#menu{
    list-style: none;
    padding-top: 15px;
}

ul#menu li a {
    font-size: 18px;
    color: black;
    text-decoration: none; 
    font-weight: bold;
}

ul#menu li a:hover {
    font-size: 18px;
    color: red;
    text-decoration: none; 
    font-weight: bold;
}

ul#menu li {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
}
#content {
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    background: white;
}
#content h2 {
    font-size: 32px;
}
 
#content h3 {
    font-size: 24px;
    padding-top: 15px;
}
 
#content h4 {
    font-size: 20px;
    padding-top: 20px;
}
 
#content p {
    font-size: 18px;
    padding-top: 20px;
}
 
#content small {
    font-size: 12px;
}
 
#content a {
    color: #0f6c8d;
    font-weight: bold;
    text-decoration: none; 
}

services-main {
    float: left;
    
}

ul#services{
    list-style: none;
    padding-top: 15px;
    display: inline-block;
}

ul#services li {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    float: left;
}

specialties-main {
    float: left;
  
}

ul#specialties{
    list-style: none;
    padding-top: 15px; 
    display: inline-block;
}

ul#specialties li {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 40px;
    float: left;
}

textarea#form-message {
    width: 600px;
    height: 120px;
    border: 3px solid #cccccc;
    padding: 5px;
}

input {
    border: 3px solid #cccccc;
}

.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
    color: black;
}

.carousel-inner{
    overflow:visible;
    padding: -40px;
}

.carousel-indicators li{
    background-color: #0000ff;
   
}
.carousel-indicators .active {
    background-color: #ffff99;
}

.carousel-control.right {
    opacity:0.1;
}

.carousel-control.left {
    opacity:0.1;
}

.glyphicon.glyphicon-chevron-right{
   color:blue;
}

.glyphicon.glyphicon-chevron-left{
   color:blue;
}
